body{
	background-color: #f9f9f9;
	font-family: "Crimson Text";
}

.main{
	background: #fff;
}

.home-description{
	font-style: italic;
	font-weight: 600;
	font-family: "Crimson";
	font-size: 19px;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 29px;

}

.btn{
	padding: 10px 60px;
	height: 45px;
	font-size: 16px;
}

.btn-group-vertical{
    font-family: "Josefin Sans";    
}

.btn-data{
	background-color: #fff;
	color: #111;
	font-style: italic;
	border: 1px solid #111;
	border-radius: 0px !important;
	transition: all 0.4s ease-in-out;
	margin-bottom: 20px;
	font-family: "Crimson";
	font-size: 13px;
	}

.btn-data:hover{
	color: #fff;
	background-color: #bb9e7d;
    border-color: #bb9e7d;}


p{
    color: #585757;
    font-size: 16px;
        
}